/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--------------    CSS RESET   --------------*/

body {
    background-color: #f5f5dc; /* Beige cream color */
}

.navbar {
    background-color: #d2b48c; /* Sandy color */
    padding: 1rem 1rem 1rem 1rem !important;
}

.navbar-top {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.carousel {
    width: 100%;
    min-height: 15rem; /* Reduce the height of the carousel */
}

.card {
    background-color: white;
    border-radius: 1rem;
    margin: 1rem;
    position: relative;
    text-align: center; /* Center the content horizontally */
    min-width: 15rem; /* Set a minimum width for the cards */
    min-height: 20rem; /* Set a minimum height for the cards */
    padding: 2rem; /* Increase the padding */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); /* Make the box shadow more pronounced */
    width: 70%; /* Set the width of the cards to 70% */
    margin-left: auto;
    margin-right: auto;
}

.card img {
    width: 30%; /* Increase the width to 30% of the card's size */
    position: absolute;
    top: 1rem; /* Position the image at the top of the card */
    left: 50%;
    transform: translateX(-50%); /* Center the image horizontally */
    border-radius: 1rem; /* Ensure the image has rounded corners on all 4 corners */
}

.card-body {
    padding-top: 8rem; /* Add padding to ensure the text comes up underneath the image */
    min-height: 19rem;
}

.card-title, .card-text, .card-text small {
    font-weight: bold; /* Make all text bold */
}

.card-text small {
    font-size: 1.2em; /* Increase the size of the cost field */
}

.scan-spacer{
    padding-block: 4rem;
}

.scan-btn {
    background-color: #7e5815; /* Sandy color */
    border-radius: 5rem;
    font-size: 2rem;
    color: white;
    width: 100%;
    font-weight: bold;
    padding-block: 2.5rem;

}